@model IEnumerable<RecordViewModel>

<table class="table table-sm table-striped">
    @{
        string currentClass = "";
    }
    @{
        string TrClassName(RecordViewModel record)
        {
            if (record.Col1.Length == 2)
                return " table-primary";
            else if (record.Col1 == "ПО КЛАССУ")
                return " table-warning";
            else
                return string.Empty;
        }
    }
    @foreach (var record in Model)
    {
        @if(record.ClassName != currentClass)
        {
            currentClass = record.ClassName;
            <tr>
                <td colspan="7">
                    <strong>@record.ClassName</strong>
                </td>
            </tr>
        }
        <tr class="@TrClassName(record)">
            <td>
                @record.Col1
            </td>
            <td>
                @record.OpeningBalanceAsset
            </td>
            <td>
                @record.OpeningBalanceLiabilities
            </td>
            <td>
                @record.TurnoverDebit
            </td>
            <td>
                @record.TurnoverCredit
            </td>
            <td>
                @record.FinalBalanceAsset
            </td>
            <td>
                @record.FinalBalanceLiabilities
            </td>
        </tr>
    }
</table>